.cyrillic_textarea {
  cursor: not-allowed;
  background-color: #eee;
}

.cyrillic_textarea:active {
  background-color: #eee;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

footer {
  color: #7e7979;
  font-size: 12px;
  padding: 10px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}